@charset "utf-8";

/***** Window Size Alert ****/
/* Window must be at least 1250x800px large*/
.windowSizeAlert{
    display: none;

}
@media only screen and (max-width: 1250px){
        
    body{ background-color: #000;}

    .windowSizeAlert{
            display: block;
            position: fixed;
            left: 0px;
            top: -40px;
            height: 100%;
            width: 100%;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.9);
            color: #fff;
            font-family: Arial;
            font-size: 40px;
            padding: 10px;
            text-align: center;
        } 
}

@media only screen and (max-height: 800px){

    body{ background-color: #000;}
   
    .windowSizeAlert{
        display: block;
        position: fixed;
        left: 0px;
        top: -40px;
        height: 100%;
        width: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.9);
        color: #fff;
        font-family: Arial;
        font-size: 40px;
        padding: 10px;
        text-align: center;
        } 
}