@charset "utf-8";

/***** Window Size Alert ****/
/* Window must be at least 1250x800px large*/
.windowSizeAlert{
    display: none;

}
@media only screen and (max-width: 1250px){
        
    body{ background-color: #000;}

    .windowSizeAlert{
            display: block;
            position: fixed;
            left: 0px;
            top: -40px;
            height: 100%;
            width: 100%;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.9);
            color: #fff;
            font-family: Arial;
            font-size: 40px;
            padding: 10px;
            text-align: center;
        } 
}

@media only screen and (max-height: 800px){

    body{ background-color: #000;}
   
    .windowSizeAlert{
        display: block;
        position: fixed;
        left: 0px;
        top: -40px;
        height: 100%;
        width: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.9);
        color: #fff;
        font-family: Arial;
        font-size: 40px;
        padding: 10px;
        text-align: center;
        } 
}

/***** headerstyles *****/
body{background-image: url(../assets/Images/Backgrounds/MenuPageBackground.png);}

.box {
    display: block;
    position: relative;
    border: 2px solid black;
    margin-top: 6%;
    background-color: rgb(107, 107, 107);
    background-image: url('../assets/Images/Backgrounds/Menu\ Background.png');
    width: 1200px;
    height: 700px;
    
}

#chosenCharacterGraphic {
    margin-left: 300px;
    float: left;
}

.arrowLeft {
    position: absolute;
    left: 20%;
    top: 70%;
}

.arrowRight {
    position: absolute;
    left: 45%;
    top: 70%;
}

#nameInput {
    width: 350px; 
    height:120px;
    margin-right: 200px;
    margin-top: 80px;
    float: right;
}

.text{
    display: block;
    color: rgb(255, 255, 255);
    text-shadow: 3px 1px 5px rgb(36, 36, 36);
    font-size: 25px;
    font-weight: bold;
    font-family: 'Century Gothic';
    margin-bottom: -20px;
}

/***** buttonstyles *****/
.mainButton {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #e6e6e6 100%);
    background-color: #ffffff;
    border-radius: 30px;
    border: 1px solid #d9d9d9;
    display: inline-block;
    cursor: pointer;
    color: #454545;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

    .mainButton:hover {
        background: linear-gradient(to bottom, #e6e6e6 5%, #ffffff 100%);
        background-color: #e6e6e6;
    }

    .mainButton:active {
        position: relative;
        top: 1px;
    }


.buttonImgScale{
    height: 59px;
    width: 240px;
    margin-bottom: -10px;
}


.footerButton {
    position: absolute;
    bottom: 1%;
    left: 44.5%;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    color: #b8b8b8;
    font-family: 'Courier New';
    font-size: 12px;
    font-weight: bold;
    padding: 3px 5px;
    text-decoration: none;
    
}

    .footerButton:hover {
        background-color: transparent;
        color: #636363;
    }

.licenseButton {
    position: absolute;
    bottom: 1%;
    right: 5%;
}
   

/***** popupstyles *****/   
.popup {
    display: block;
    position: absolute;
    height: 350px;
    width: 320px;
    top: 44%;
    left: 40%;
    border-radius: 10px;
    background-color: rgb(26, 25, 25,0.96);
    font-family: Arial;
    font-size: 12px;
    color: lightgrey;
    text-align: left;
    padding: 20px;
    box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
}

/* close popup */
.close{
    display: block;
    color: white;
    text-shadow: -1px 0 black, 0 1px Black, 1px 0 black, 0 -1px black;
    position: absolute;
    text-align: center;
    font-family: fantasy;
  }


/* popup - input style */
input[type=text] {
    text-align: center;
    font-family: fantasy;
    font-size: 18px;
    color: cornsilk;
    background-color: rgba(46, 44, 44, 0.500);
    width: 70%;
    padding: 7px 20px;
    margin: 20px 10%;
    box-sizing: border-box;
    border-color: white;
    border-radius: 3px;
  }


