@charset "utf-8";

/***** Windows Size Alert ****/
.windowSizeAlert{
    display: none;

}
@media only screen and (max-width: 1250px){
        
    body{background-color: red;}

    .windowSizeAlert{
            display: block;
            position: relative;
            bottom: 260px;
            height: 250px;
            width: 500px;
            background-color: rgb(61, 61, 61);
            color: #fff;
            font-family: Arial;
            font-size: 40px;
            padding: 10px;
            text-align: center;
            box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75)
        } 
}

@media only screen and (max-height: 800px){
    body{background-color: red;}

    .windowSizeAlert{
            display: block;
            position: relative;
            bottom: 260px;
            height: 250px;
            width: 500px;
            background-color: rgb(61, 61, 61);
            color: #fff;
            font-family: Arial;
            font-size: 40px;
            padding: 10px;
            text-align: center;
            box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75)
        } 
}

/***** headerstyles *****/
#box {
    display: block;
    position: relative;
    border: 2px solid black;
    background-color: burlywood;
    width: 1200px;
    height: 700px;
}


/***** buttonstyles *****/
.mainButton {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #e6e6e6 100%);
    background-color: #ffffff;
    border-radius: 30px;
    border: 1px solid #d9d9d9;
    display: inline-block;
    cursor: pointer;
    color: #454545;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

    .mainButton:hover {
        background: linear-gradient(to bottom, #e6e6e6 5%, #ffffff 100%);
        background-color: #e6e6e6;
    }

    .mainButton:active {
        position: relative;
        top: 1px;
    }


.footerButton {
    background-color: transparent;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #808080;
    font-family: 'Courier New';
    font-size: 12px;
    font-weight: bold;
    padding: 3px 5px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
}

    .footerButton:hover {
        background-color: transparent;
        color: #636363;
    }

    .footerButton:active {
        position: relative;
        top: 1px;
    }
        
/***** popupstyles *****/   
.popup {
    display: block;
    position: relative;
    height: 250px;
    width: 300px;
    bottom: 260px;
    border-radius: 10px;
    background-color: rgb(202, 202, 202);
    font-family: Arial;
    font-size: 12px;
    text-align: left;
    padding: 10px;
    box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.75);
}

/* close popup */
.close{
    display: block;
    position: relative;
    text-align: center;
    font-family: fantasy;
  }


/* popup - input style */
input[type=text] {
    text-align: center;
    font-family: fantasy;
    width: 80%;
    padding: 7px 20px;
    margin: 20px 10%;
    box-sizing: border-box;
  }

/* popup - submit style */
  input[type=submit] {
    text-align: center;
    font-family: fantasy;
    width: 50%;
    padding: 7px 20px;
    margin: 10px 25%;
    box-sizing: border-box;
  }

